.menu {
  background-color: #418DB3; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media screen and (max-width: 500px) {
  .menu__list {
    display: none; } }

.menu__item, .menu__toggle {
  display: inline-block; }

@media screen and (max-width: 500px) {
  .menu__item, .menu__toggle {
    display: block;
    text-align: center; } }

.menu__link, .menu__toggle {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #fff; }

.menu__link:hover, .menu__toggle:hover {
  text-decoration: none;
  color: #fff;
  background-color: #FD746C; }

@media screen and (max-width: 500px) {
  .menu__link, .menu__toggle {
    border-bottom: 1px solid #fff; } }

.menu__toggle {
  display: none; }

@media screen and (max-width: 500px) {
  .menu__toggle {
    display: block; } }

.panel {
  border: none;
  box-shadow: none; }

.panel__title {
  padding: 5px;
  margin: 10px 0 0 0;
  font-size: 18px;
  text-align: center;
  background-color: #FF6766;
  border-radius: 5px 5px 0 0;
  color: #FFFFF7; }

.panel__title:hover {
  cursor: pointer;
  background-color: #FF7877; }

.panel__text {
  padding: 5px;
  background-color: #FFFFF7;
  border-radius: 0 0 5px 5px;
  color: #60646D; }
